/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    overflow-x:hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    box-sizing:border-box;
    background: #333;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2 {
    font-family: 'Luckiest Guy', cursive;
}




/*  Big green meadow thing  */

header {
    height: 100vh;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header h1 {
    position:absolute;
    bottom: 50vh;
    text-align: center;
    color: #FFF;
    font-size: 10vw;
    line-height: 10vw;
    z-index:5;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

@media (orientation: portrait) {
    header h1 {
        font-size:20vw;
        line-height: 20vw;
    }
}



.bg-cloud {
    position: absolute;
    top:0vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/cloud_4307.png');
    background-repeat:no-repeat;
    background-position:center 20%;
    background-size:contain;
    z-index:3;
    opacity:0.7;
    animation: cloud-scroll 40s ease-in-out alternate infinite;
}

@media (orientation: portrait) {
    .bg-cloud {
        background-position: center 40%;
    }
}

@keyframes cloud-scroll {
    0% {
        transform: translateX(-5vw);
    }
    100% {
        transform: translateX(5vw);
    }
}

.sunrise {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    animation: rotate 200s linear infinite;
}

@media (orientation: landscape) {
    .sunrise {
        width: 100vw;
        height: 100vw;
        bottom: calc(-50vw + 80px);
    }
}

@media (orientation: portrait) {
    .sunrise {
        width: 100vh;
        height: 100vh;
        bottom: calc(-50vh + 65px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sunrise .stripes {
    position:absolute;
    width: 100%;
    height: 100%;
    background: url('../images/radial-stripes-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.sunrise .stripes .glow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(
            circle closest-side,
            rgba(255, 253, 173, 0.6),
            transparent
        );
    z-index: 3;
}

.sunrise .stripes .glow .flare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-image: 
        radial-gradient(
            circle closest-side,
            #FFFC61,
            transparent
        );
    z-index: 4;
}

.sunrise .stripes .glow .flare .sun {
    width: 100%;
    height: 100%;
    background-image: url('../images/flare.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
}

.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: url('../images/lawn.png');
    z-index: 50;
}


/*  Nav bar  */

nav {
    position:sticky;
    width: 100%;
    top: 0;
    z-index:52;
    background: url('../images/bg.png');
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}   

nav ul {
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    margin: 0 auto;
    z-index: 54;
}

nav ul li {
    color: #FFF;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    line-height: 2rem;
    text-shadow: 0 1px 0 #ccc,
    0 4px 1px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2);
    padding: 10px 20px;
}

@media (orientation: portrait) {
    nav ul li {
        font-size: 5vw;
        line-height: 5vw;
        padding: 10px;
    }
}

nav ul li:hover {
    color: rgb(69, 121, 15);
    text-shadow: 0 1px 0 rgb(41, 73, 6),
    0 4px 1px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2);
    cursor: pointer;
}

main {
    position: relative;
    z-index: 40;
    height: 2000px;
    background: #000;
    color: #FFF;
    background: url('../images/earth.png');
    padding-top: 50px;
}

main h2 {
    text-align: center;
    font-size: 5vw;
    line-height: 5vw;
    text-shadow: 0 1px 0 rgb(41, 73, 6),
    0 4px 1px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2);
}

