/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    overflow:hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    overflow: hidden;
    line-height: 1;
    box-sizing:border-box;
    background: #333;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2 {
    font-family: 'Luckiest Guy', cursive;
}
img {
    max-width: 100%;
    height: auto;
}







header {
    height: 100vh;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px #000;
}

/* title area */

.text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 2s ease;
    z-index: 10;
    top: -100%;
}

.text-layer.show {
    opacity: 1;
    top: 0;
}

.text-layer h1 {
    text-align: center;
    color: #FFF;
    font-size: 10vw;
    line-height: 10vw;
    z-index:5;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

@media (orientation: portrait) {
    .text-layer h1 {
        font-size:20vw;
        line-height: 20vw;
    }
}

/* subtext */
.text-layer .titles {
    display: flex;
    z-index: 6;
    justify-content: center;
}

.text-layer .titles span {
    color: #FFF;
    font-size: 3vw;
    line-height: 3.5vw;
    padding: 0 40px 0 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.text-layer .titles span a {
    color: #FFF;
}

.text-layer .titles span a:hover {
    color: #EEE;
}

.fab {
    margin-right: 10px;
}

@media (orientation: portrait) {
    .text-layer .titles {
        flex-direction: column;
        align-items: center;
    }

    .text-layer .titles span {
        font-size: 7vw;
        line-height: 10vw;
        padding: 0 10px 0 10px;
    }
}




/* cloud */
.cloud-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease all;
}

.cloud {
    width: 90vw;
    height: 400px;
    border-radius: 40%;
    position: absolute;
    transform: translate(-300px,0);
    z-index: 2;
    transition: all 2s ease;
}

@media (orientation: portrait) {
    .cloud-container {
    display:none;
    }
}

.cloud-container.show .cloud {
    transform: translate(-300px,-500px);
}

#cloud-back {
filter: url(#filter-back);
box-shadow: 300px 500px 30px -20px #fff;
}

#cloud-mid {
filter: url(#filter-mid);
box-shadow: 300px 540px 70px -60px rgba(158, 168, 179, 0.5);
}

#cloud-front {
filter: url(#filter-front);
box-shadow: 300px 570px 60px -100px rgba(0, 0, 0, 0.3);
}


/* background */
.sunrise {
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;
    z-index: 1;
}

@media (orientation: landscape) {
    .sunrise {
        width: 100%;
        height: 100%;
    }
}

@media (orientation: portrait) {
    .sunrise {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

.sunrise .stripes {
    width: 100vw;
    height: 100vw;
    margin-top: calc(100vh - 50vw - 70px);
    background: url('../images/radial-stripes-light-compressed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    animation: rotate 200s linear infinite;
}

@media (orientation: portrait) {
    .sunrise .stripes {
        position: absolute;
        height: 200vh;
        width: 200vh;
        margin: 0;
        margin-top: -70px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    .sunrise .stripes {
        animation: none;
    }
}

.sunrise .stripes .glow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(
            circle closest-side,
            rgba(255, 253, 173, 0.6),
            transparent
        );
    z-index: 3;
}

.sunrise .stripes .glow .flare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-image: 
        radial-gradient(
            circle closest-side,
            #FFFC61,
            transparent
        );
    z-index: 4;
}

.sunrise .stripes .glow .flare .sun {
    width: 100%;
    height: 100%;
    background-image: url('../images/flare-compressed.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
}

.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: url('../images/lawn-cropped-compressed.png');
    z-index: 50;
}





/* Contact */

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 2s ease;
    transition-delay: 1s;
}

.contact-container.show {
    top: 0;
    transform: translateY(0);
}

.contact-container h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5vw;
    line-height: 5.5vw;
    text-shadow: 0px 1px 3px #FFF;
    color: #233b09;
    text-align: center;
}

.contact-form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.contact-form .row {
    display: flex;
}

@media (orientation: portrait) {
    .contact-form .row {
        flex-direction: column;
    }
}

.contact-form .row div {
    flex-grow: 1;
    position: relative;
    padding: 0px 20px 30px;
}

.contact-form .row .buttons {
    text-align: right;
    padding-right: 0;
}

.contact-form input {
    width: 100%;
    border: solid 1px #222;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.contact-form textarea {
    width: 100%;
    border: solid 1px #222;
    border-radius: 3px;
    height: 200px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.contact-form label {
    position: absolute;
    left: 30px;
    top: 12px;
    pointer-events: none;
    color: #444;

    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.contact-form input:not(:placeholder-shown) ~ label, .contact-form textarea:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: #000;
}

.contact-form .btn {
    margin: 5px;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.contact-form .btn-cancel {
    background: #444;
    color: #FFF;
    border: solid 1px #000;
}

.contact-form .btn-cancel:hover {
    box-shadow: 0px 0px 10px 0px #444;
}

.contact-form .btn-submit {
    background: #4488C1;
    color: #FFF;
    border: solid 1px #444;
}

.contact-form .btn-submit:hover {
    box-shadow: 0px 0px 10px 0px #4488C1;
}