/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html {
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow: hidden;
}

body {
  background: #84C044;
  background-image: url("../images/bg.png");
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #444;
  box-shadow: 0 0px 50px 0 inset rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Luckiest Guy", cursive;
}

h2, h3, h4 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
}

p {
  font-size: min(4.5vw, 1.1rem);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

div, section {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

/*** ------------------------------ CLOUDS ------------------------------------- ***/
.cloud-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: -300px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cloud-container .cloud {
  width: 100%;
  height: 400px;
  border-radius: 40%;
  position: absolute;
  transform: translate(-300px, -200px);
}
.cloud-container .cloud-image {
  display: none;
}

#cloud-back {
  filter: url(#filter-back-noanimate);
  box-shadow: 300px 390px 30px -20px #fff;
  height: 300px;
}

#cloud-mid {
  filter: url(#filter-mid-noanimate);
  box-shadow: 300px 430px 70px -60px rgba(158, 168, 179, 0.5);
  height: 300px;
}

#cloud-front {
  filter: url(#filter-front-noanimate);
  box-shadow: 300px 470px 60px -100px rgba(0, 0, 0, 0.3);
  height: 300px;
}

/* No animation */
#cloud-back-noanimate {
  filter: url(#filter-back-noanimate);
  box-shadow: 300px 500px 30px -20px #fff;
}

#cloud-mid-noanimate {
  filter: url(#filter-mid-noanimate);
  box-shadow: 300px 540px 70px -60px rgba(158, 168, 179, 0.5);
}

#cloud-front-noanimate {
  filter: url(#filter-front-noanimate);
  box-shadow: 300px 570px 60px -100px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
  .cloud-container {
    width: 150%;
    margin-top: -270px;
  }
  #cloud-back {
    filter: url(#filter-back-noanimate-mobile);
    box-shadow: 300px 390px 30px -20px #fff;
    height: 250px;
  }
  #cloud-mid {
    filter: url(#filter-mid-noanimate-mobile);
    box-shadow: 300px 430px 70px -60px rgba(158, 168, 179, 0.5);
    height: 250px;
  }
  #cloud-front {
    filter: url(#filter-front-noanimate-mobile);
    box-shadow: 300px 470px 60px -100px rgba(0, 0, 0, 0.3);
    height: 250px;
  }
}
/*  original:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,

    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),

    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
*/
/*  computed:
    0 1px 0 rgb(194, 194, 194), 
    0 2px 0 rgb(184, 184, 184), 
    0 3px 0 rgb(174, 174, 174), 
    0 4px 0 rgb(164, 164, 164), 
    0 5px 0 rgb(154, 154, 154), 
    0 6px 0 rgb(144, 144, 144), 

    0 6px 1px rgba(0, 0, 0, 0.1), 
    0 0 5px rgba(0, 0, 0, 0.1), 

    0 1px 3px rgba(0, 0, 0, 0.3), 
    0 3px 5px rgba(0, 0, 0, 0.2), 
    0 5px 10px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.2), 
    0 20px 20px rgba(0, 0, 0, 0.15);
  */
.section__wrapper {
  position: relative;
  z-index: 100;
  /* any kind of blurred gradients */
  /* inset transparent border */
}
.section__wrapper .section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}
.section__wrapper .section__border {
  position: relative;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(255, 255, 255, 0.4) 0px 0px 15px 0px inset;
  /* content wrapper */
}
.section__wrapper .section__border .section__box-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  background: #FFF;
}
.section__wrapper .section__border .section__box-wrapper .section__box-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-image: url("../images/line_art.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  height: 10rem;
}

.box-wrapper {
  position: relative;
  z-index: 50;
  width: 100%;
  max-width: 1440px;
  padding: 0 2px;
  border-radius: 10px;
}

.box-blur {
  /*backdrop-filter: blur(2px);*/
}

.box-border {
  width: 100%;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(255, 255, 255, 0.6) 0px 0px 15px 0px inset;
}

.box {
  background: #FFF;
  color: #444;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.box-comic {
  box-shadow: 0 1px 0 #ebebeb, 0 2px 0 #d6d6d6, 0 3px 0 #c2c2c2, 0 4px 0 #adadad, 0 5px 0 #999999, 0 6px 0 #858585, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
}

.box-comic-no-shadow {
  box-shadow: 0 1px 0 #ebebeb, 0 2px 0 #d6d6d6, 0 3px 0 #c2c2c2, 0 4px 0 #adadad, 0 5px 0 #999999, 0 6px 0 #858585, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
}

.box-title {
  background: hsl(89deg, 50%, 82%);
  color: #444;
  letter-spacing: -1px;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: -1px;
  width: 100%;
}

.box-divider {
  background: hsl(89deg, 50%, 82%);
  color: hsl(89deg, 50%, 82%);
  height: 20px;
  display: flex;
  align-items: flex-start;
}

.box-divider-bottom {
  background: hsl(89deg, 50%, 95%);
  color: hsl(89deg, 50%, 82%);
  height: 20px;
  display: flex;
  align-items: flex-end;
  margin-top: -2px;
}

.box-flat-shadow {
  border-radius: 5px;
  overflow: hidden;
  background: #FFF;
  border: solid 1px #dfdfdf;
  box-shadow: 0 0 40px rgba(0, 0, 20, 0.1);
}

header {
  position: relative;
  width: 100%;
}

nav {
  position: sticky;
  top: 2rem;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav_wrapper {
  position: relative;
  z-index: 201;
  background: #000;
  background: linear-gradient(to bottom, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 50%, rgb(70, 70, 70) 100%);
  color: #FFF;
  border-radius: 1rem;
  margin: 1px;
  padding: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
nav .nav_wrapper .mobile_menu {
  display: none;
}
nav .nav_wrapper ul {
  list-style: none;
  display: flex;
}
nav .nav_wrapper ul li a {
  color: #FFF;
  font-size: 1.2rem;
  padding: 1.5rem 1rem;
  margin: 0 2px;
  border-radius: 0.5rem;
  cursor: pointer;
}
nav .nav_wrapper ul li:first-of-type a {
  margin-left: 0;
}
nav .nav_wrapper ul li:last-of-type a {
  margin-right: 0;
}
nav .nav_wrapper ul li:hover a, nav .nav_wrapper ul li:active a, nav .nav_wrapper ul li.active a {
  background: #FFF;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 100%);
  color: #000;
}

@media screen and (max-width: 900px) {
  nav {
    width: 90%;
    z-index: 201;
  }
  nav .nav_wrapper {
    width: 100%;
    position: relative;
    z-index: unset;
  }
  nav .nav_wrapper .mobile_menu {
    display: block;
    position: relative;
    z-index: 201;
    cursor: pointer;
  }
  nav .nav_wrapper ul {
    display: block;
    position: absolute;
    top: 2rem;
    left: 10px;
    z-index: -1;
    padding-top: 2rem;
    border-radius: 0 0 1rem 1rem;
    width: calc(100% - 20px);
    background: #000;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 150ms ease;
  }
  nav .nav_wrapper ul li a {
    width: 100%;
    padding: 10px 15px;
    display: block;
  }
  nav .nav_wrapper ul li:hover a, nav .nav_wrapper ul li:active a, nav .nav_wrapper ul li.active a {
    background: transparent;
    color: #FFF;
  }
  nav .nav_wrapper ul.open {
    display: block;
    transform: scaleY(1);
  }
}
@keyframes openMenu {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
/*** ------------------------------ PRESENTATION ------------------------------------- ***/
#presentation {
  width: 100%;
  max-width: none;
  height: 100vw;
  overflow: hidden;
  position: absolute;
  /* background */
}
#presentation .sunrise {
  overflow: hidden;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#presentation .sunrise .stripes {
  width: 100vw;
  height: 100vw;
  margin-top: -50vw;
  background: url("../images/radial-stripes-light-compressed.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 11;
  animation: rotate 200s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#presentation .sunrise .stripes .glow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-side, rgba(255, 253, 173, 0.6), transparent);
  z-index: 12;
}
#presentation .sunrise .stripes .glow .flare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(circle closest-side, #FFFC61, transparent);
  z-index: 13;
}
#presentation .sunrise .stripes .glow .flare .sun {
  width: 100%;
  height: 100%;
  background-image: url("../images/flare-compressed.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 14;
}

@media (orientation: portrait) {
  #presentation {
    height: 150vh;
  }
  #presentation .sunrise .stripes {
    position: absolute;
    top: 0;
    width: 200vh;
    height: 200vh;
    margin-top: -100vh;
  }
}
@media (prefers-reduced-motion: reduce) {
  .sunrise .stripes {
    animation: none;
  }
}
/*** ------------------------------ TEXT ------------------------------------- ***/
.header-text {
  position: relative;
  z-index: 40;
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-text .title {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 0 #ebebeb, 0 2px 0 #d6d6d6, 0 3px 0 #c2c2c2, 0 4px 0 #adadad, 0 5px 0 #999999, 0 6px 0 #858585, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: min(25vw, 8rem);
  line-height: min(22vw, 7rem);
}
@supports (-webkit-appearance: none) {
  .header-text .title {
    letter-spacing: 2px;
  }
}
.header-text .title > span {
  font-size: min(30vw, 10rem);
}
.header-text .title-sub-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #444;
  font-size: min(15vw, 3rem);
  line-height: min(12vw, 4rem);
  margin-top: -1rem;
}

@media screen and (max-width: 900px) {
  .header-text .title-sub-text {
    margin-top: 0;
  }
}
main {
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-wrapper {
  background: #b7c1e7;
  background: radial-gradient(circle at center, #FFF 0, #e8eaf3 100%);
}

#oregon-map {
  transform: rotate(-15deg);
}

.headline {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  /*  chrome you bastard  */
  text-shadow: 0 1px 0 #ebebeb, 0 2px 0 #d6d6d6, 0 3px 0 #c2c2c2, 0 4px 0 #adadad, 0 5px 0 #999999, 0 6px 0 #858585, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15), 0 0 4rem rgb(250, 250, 165);
  text-align: center;
  font-size: clamp(4.5rem, 9vw, 7rem);
  line-height: 0.7;
  margin-bottom: 1rem;
}
@supports (-webkit-appearance: none) {
  .headline {
    letter-spacing: 3px;
  }
}
.headline > span {
  font-size: clamp(6rem, 11vw, 9rem);
}

.section-headline {
  text-align: center;
  font-size: min(9vw, 2.4rem);
  color: hsl(87deg, 93.8%, 12.5%);
}

.rocket_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rocket_wrapper img {
  display: block;
}
.rocket_wrapper .arrow {
  z-index: 52;
}
.rocket_wrapper .jet {
  margin-top: -8rem;
  transform: scale(0.5);
  z-index: 51;
}

.design__elevate {
  padding: 1rem;
}

.cloud-container {
  z-index: 55;
}

.pricing__wrapper {
  margin-top: 2.5rem;
}

.pricing__title {
  font-size: clamp(1.8rem, 4vw, 2rem);
  text-align: center;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.pricing__description {
  min-height: 7rem;
}

.pricing__checklist {
  padding: 0.5rem;
  background: #FFF;
  border: solid 1px #dfdfdf;
  border-radius: 10px;
  list-style-type: none;
  box-shadow: 0 0 20px rgba(100, 100, 120, 0.2);
  margin-top: 1rem;
}
.pricing__checklist li {
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 12px;
}
.pricing__checklist li a {
  color: #505C86;
}
.pricing__checklist li a:hover {
  color: #142352;
}

.pricing__left-box {
  transform: translateX(1.1rem);
}

.pricing__middle-box {
  transform: scale(1.1);
}

.pricing__right-box {
  transform: translateX(-1.1rem);
  z-index: 49;
}

.pricing__plus {
  position: absolute;
  z-index: 51;
  top: 25rem;
  left: 28.5%;
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.2));
}

.pricing__box-bg {
  background: linear-gradient(#FFF 0%, hsl(89deg, 58%, 95%) 100%);
}

.pricing__box-brown-bg {
  background: linear-gradient(#FFF 0%, hsl(30deg, 50%, 95%) 100%);
}

.pricing__box-blue-bg {
  background: linear-gradient(#FFF 0%, #eef6f9 100%);
}

.pricing__box-purple-bg {
  background: linear-gradient(#FFF 0%, #f0eff5 100%);
}

.pricing__brown-bg {
  background: #E8D1BA;
}

.pricing__brown-color {
  color: #E8D1BA;
}

.pricing__blue-bg {
  background: #c0e3ee;
}

.pricing__blue-color {
  color: #c0e3ee;
}

.pricing__purple-bg {
  background: #d9d1f5;
}

.pricing__purple-color {
  color: #d9d1f5;
}

.pricing__bold {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.pricing__price {
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 800;
  color: hsl(89deg, 77%, 28%);
}

@media screen and (max-width: 900px) {
  .pricing__left-box {
    transform: none;
    margin-top: -3rem;
    margin-bottom: 2rem;
  }
  .pricing__middle-box {
    transform: scale(1);
    margin-bottom: 2rem;
  }
  .pricing__right-box {
    transform: none;
    z-index: 40;
    margin-bottom: 2rem;
  }
  .pricing__plus {
    position: relative;
    margin: 3rem auto;
    margin-bottom: 4rem;
    top: 0;
    left: 0;
    transform: scale(2);
  }
  .design__elevate {
    padding: 5rem 1rem;
  }
}
.portfolio__transition-top {
  width: 100%;
  margin-bottom: -3px;
}

.portfolio__transition-bottom {
  width: 100%;
  margin-top: -1px;
}

.section__portfolio {
  width: 100%;
  padding: 1rem;
  padding-bottom: 5rem;
  padding-top: 0;
  margin-top: -2px;
  position: relative;
  z-index: 100;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__portfolio h2 {
  font-size: clamp(3rem, 12vw, 5.5rem);
  line-height: 1.1;
  color: #444;
  text-align: left;
}
.section__portfolio .portfolio__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 2rem;
}
.section__portfolio .portfolio__item {
  background: #FFF;
  border-radius: 10px;
  border: solid 1px #DDD;
  position: relative;
  display: flex;
  flex-direction: column;
}
.section__portfolio .portfolio__item img {
  border-radius: 10px 10px 0 0;
}
.section__portfolio .portfolio__title {
  position: absolute;
  left: -15px;
  top: -15px;
  background: #000;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  flex-grow: 1;
}
.section__portfolio .portfolio__description {
  background: #EEE;
  padding: 10px;
  width: 100%;
  flex-grow: 1;
}
.section__portfolio .portfolio__description p {
  font-size: 0.9em;
  width: calc(100% - 10rem);
}
.section__portfolio .portfolio__description .portfolio__button {
  width: 10rem;
  align-self: center;
}

@media screen and (max-width: 900px) {
  .section__portfolio .portfolio__wrapper {
    grid-template-columns: 1fr;
  }
}
.decoration__contact-stripes {
  width: 100%;
  height: 0.5rem;
  background: #FFF;
  background-image: repeating-linear-gradient(-45deg, white 0 20px, rgb(91, 146, 228) 20px 40px, white 40px 60px, rgb(233, 112, 108) 60px 80px);
  border-bottom: solid 1px #CCC;
  border-top: solid 1px #CCC;
}

.required {
  color: rgb(151, 15, 15);
  font-size: 0.9rem;
}

form {
  width: 100%;
  height: 100%;
  color: #444;
}
form .input-wrapper {
  width: 100%;
  display: flex;
}
form input[type=text], form input[type=email], form input[type=url], form select, form textarea {
  background: #f9f9f9;
  flex-grow: 1;
  color: #444;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
  border: solid 1px #d1d1d1;
  margin: 5px 0;
}
form .prefix {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
  border: solid 1px #d1d1d1;
  border-radius: 5px 0 0 5px;
  border-right: none;
}
form .prefix ~ input {
  border-radius: 0 5px 5px 0;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  appearance: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 800;
  background: #4C7A15;
  box-shadow: 0px 5px 0 0 #37580d;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
}
.btn:hover {
  background: #5a8f1a;
  box-shadow: 0px 5px 0 0 #37580d;
}
.btn:active {
  margin-top: 5px;
  margin-bottom: -5px;
  background: #70a82b;
  box-shadow: none;
}
.btn:focus, .btn:focus-visible {
  outline: solid 2px rgb(194, 31, 31);
}
.btn:disabled {
  margin-top: 5px;
  margin-bottom: -5px;
  background: #797979;
  box-shadow: none;
}

.contact-thank-you {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FFF;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  display: none;
}

.anim-rotating {
  animation: rotate 1s linear infinite;
}

.show-thank-you {
  display: flex;
  animation: fade-in 400ms linear forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 900px) {
  .form-space {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .form-space {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
footer {
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0) 10px), linear-gradient(to bottom, #bf556f, #9b354e);
  background-repeat: no-repeat;
  border-top: solid 3px #FFF;
  color: #FFF;
  font-size: 0.8rem;
  padding: 2rem 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
footer .watermelon-stripes {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/radial-stripes-light-compressed.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  opacity: 0.2;
  z-index: 102;
}
footer .title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
}
footer .sub-title {
  font-size: 1rem;
  line-height: 1.2rem;
}
footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.tagline {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #444;
  font-size: 2vw;
  margin-top: -1rem;
  text-shadow: 0 -1px 3px rgba(255, 255, 255, 0.3);
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-top {
  align-items: flex-start;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-half {
  width: 50%;
}

.flex-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-green {
  color: hsl(89deg, 77%, 28%);
}

/* margin classes */
.m-0 {
  margin: 0rem;
}

.mn-0 {
  margin: 0rem;
}

.m-1 {
  margin: 1rem;
}

.mn-1 {
  margin: -1rem;
}

.m-2 {
  margin: 2rem;
}

.mn-2 {
  margin: -2rem;
}

.m-3 {
  margin: 3rem;
}

.mn-3 {
  margin: -3rem;
}

.m-4 {
  margin: 4rem;
}

.mn-4 {
  margin: -4rem;
}

.m-5 {
  margin: 5rem;
}

.mn-5 {
  margin: -5rem;
}

.m-6 {
  margin: 6rem;
}

.mn-6 {
  margin: -6rem;
}

.m-7 {
  margin: 7rem;
}

.mn-7 {
  margin: -7rem;
}

.m-8 {
  margin: 8rem;
}

.mn-8 {
  margin: -8rem;
}

.m-9 {
  margin: 9rem;
}

.mn-9 {
  margin: -9rem;
}

.m-10 {
  margin: 10rem;
}

.mn-10 {
  margin: -10rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mtn-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mtn-1 {
  margin-top: -1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mtn-2 {
  margin-top: -2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mtn-3 {
  margin-top: -3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mtn-4 {
  margin-top: -4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mtn-5 {
  margin-top: -5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mtn-6 {
  margin-top: -6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mtn-7 {
  margin-top: -7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mtn-8 {
  margin-top: -8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mtn-9 {
  margin-top: -9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mtn-10 {
  margin-top: -10rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mbn-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mbn-1 {
  margin-bottom: -1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mbn-2 {
  margin-bottom: -2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mbn-3 {
  margin-bottom: -3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mbn-4 {
  margin-bottom: -4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mbn-5 {
  margin-bottom: -5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mbn-6 {
  margin-bottom: -6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mbn-7 {
  margin-bottom: -7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mbn-8 {
  margin-bottom: -8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mbn-9 {
  margin-bottom: -9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mbn-10 {
  margin-bottom: -10rem;
}

/* padding classes */
.p-05 {
  padding: 0.5rem;
}

.p-0 {
  padding: 0rem;
}

.p-15 {
  padding: 1.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-25 {
  padding: 2.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-35 {
  padding: 3.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-45 {
  padding: 4.5rem;
}

.p-4 {
  padding: 4rem;
}

.p-55 {
  padding: 5.5rem;
}

.p-5 {
  padding: 5rem;
}

.p-65 {
  padding: 6.5rem;
}

.p-6 {
  padding: 6rem;
}

.p-75 {
  padding: 7.5rem;
}

.p-7 {
  padding: 7rem;
}

.p-85 {
  padding: 8.5rem;
}

.p-8 {
  padding: 8rem;
}

.p-95 {
  padding: 9.5rem;
}

.p-9 {
  padding: 9rem;
}

.p-105 {
  padding: 10.5rem;
}

.p-10 {
  padding: 10rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-35 {
  padding-top: 3.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-45 {
  padding-top: 4.5rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-55 {
  padding-top: 5.5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-65 {
  padding-top: 6.5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-75 {
  padding-top: 7.5rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-85 {
  padding-top: 8.5rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-95 {
  padding-top: 9.5rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-105 {
  padding-top: 10.5rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-35 {
  padding-bottom: 3.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-45 {
  padding-bottom: 4.5rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-55 {
  padding-bottom: 5.5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-65 {
  padding-bottom: 6.5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-75 {
  padding-bottom: 7.5rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-85 {
  padding-bottom: 8.5rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-95 {
  padding-bottom: 9.5rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-105 {
  padding-bottom: 10.5rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

@media screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
  }
  .flex-sm-row {
    flex-direction: row;
  }
  .sm-flex-reverse {
    flex-direction: column-reverse;
  }
  .flex-half {
    width: 100%;
  }
  .mobile-square {
    aspect-ratio: 1/1;
  }
}
.gap {
  height: 500px;
}

hr {
  border-bottom: solid 2px hsl(87deg, 93.8%, 12.5%);
  width: 80%;
}

.full-width {
  width: 100%;
}

.container-relative {
  position: relative;
}

.flat-green-bg {
  background: hsl(89deg, 50%, 82%);
}

.light-green-bg {
  background: hsl(89deg, 50%, 95%);
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

/*# sourceMappingURL=app.css.map */
