@use '../mixins/comicFont' as *;
@use '../utilities/vars' as *;
@use 'sass:color';




main {
    position: relative;
    z-index: $z-main;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-wrapper {
    background: #b7c1e7;
    background: radial-gradient(circle at center, #FFF 0, #e8eaf3 100%);
}

#oregon-map {
    transform:rotate(-15deg);
}

.headline {
    @include comic-header-font-highlighted();
    text-align: center;
    font-size: clamp(4.5rem,9vw,7rem);
    line-height: 0.7;
    margin-bottom: 1.5rem;

    & > span {
        font-size: clamp(6rem,11vw,9rem);
    }
}

.section-headline {
    text-align: center; 
    font-size: min(9vw,2.4rem); 
    color: hsl(87, 93.8%, 12.5%);
}

.rocket_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        display: block;
    }

    & .arrow {
        z-index: $z-box + 2;
    }

    & .jet {
        margin-top: -8rem;
        transform: scale(0.5);
        z-index: $z-box + 1;
    }
}


.design__elevate {
    padding: 1rem;
}

.cloud-container {
    z-index: $z-box + 5;
}

.pricing__wrapper {
    margin-top: 2.5rem;
}

.pricing__title {
    font-size: clamp(1.8rem, 4vw, 2rem);
    text-align: center;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.pricing__description {
    min-height: 7rem;
}

.pricing__checklist {
    padding: 0.5rem;
    background: #FFF;
    border: solid 1px #dfdfdf;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 0 0 20px rgba(100,100,120,0.2);
    margin-top: 1rem;

    & li {
        background-image: url('../images/checkmark.svg');
        background-repeat: no-repeat;
        padding-left: 20px;
        margin-bottom: 12px;

        & a {
            color: #505C86;
        }

        & a:hover {
            color: #142352;
        }
    }
}

.pricing__left-box {
    transform: translateX(1.1rem);
}

.pricing__middle-box {
    transform: scale(1.1);
}

.pricing__right-box {
    transform: translateX(-1.1rem); z-index: $z-box - 1;
}

.pricing__plus {
    position: absolute; 
    z-index: $z-box + 1;
    top: 25rem;
    left: 28.5%;
    filter:drop-shadow(-2px 2px 2px rgba(0,0,0,0.2));
}

.pricing__box-bg {
    background: linear-gradient(#FFF 0%, hsl(89deg, 58%, 95%) 100%);
}

.pricing__box-brown-bg {
    background: linear-gradient(#FFF 0%, hsl(30, 50%, 95%) 100%);
}

.pricing__box-blue-bg {
    background: linear-gradient(#FFF 0%, #eef6f9 100%);
}

.pricing__box-purple-bg {
    background: linear-gradient(#FFF 0%, #f0eff5 100%);
}

.pricing__brown-bg {
    background: #E8D1BA;
}

.pricing__brown-color {
    color: #E8D1BA;
}

.pricing__blue-bg {
    background: #c0e3ee;
}

.pricing__blue-color {
    color: #c0e3ee;
}

.pricing__purple-bg {
    background: #d9d1f5;
}

.pricing__purple-color {
    color: #d9d1f5;
}

.pricing__bold {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.pricing__price {
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 800;
    color: $dark-green;
}


.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    appearance: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 800;
    background: #4C7A15;
    box-shadow: 0px 5px 0 0 #37580d;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;

    &:hover {
        background: #5a8f1a;
        box-shadow: 0px 5px 0 0 #37580d;
    }

    &:active {
        margin-top: 5px;
        margin-bottom: -5px;
        background: #70a82b;
        box-shadow: none;
    }

    &:focus, &:focus-visible {
        outline: solid 2px rgb(194, 31, 31);
    }

    &:disabled {
        margin-top: 5px;
        margin-bottom: -5px;
        background: #797979;
        box-shadow: none;
    }
}







@media screen and (max-width: $breakpoint) {
    
    .pricing__left-box {
        transform: none;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }
    
    .pricing__middle-box {
        transform: scale(1);
        margin-bottom: 2rem;
    }
    
    .pricing__right-box {
        transform: none;
        z-index:40;
        margin-bottom: 2rem;
    }

    .pricing__plus {
        position: relative; 
        margin: 3rem auto;
        margin-bottom: 4rem;
        top: 0;
        left: 0;
        transform: scale(1.5);
    }

    .design__elevate {
        padding: 5rem 1rem;
    }
}