@use '../mixins/comicFont' as *;
@use '../utilities/z-indexes.scss' as *;
@use '../mixins/sawToothBorder' as *;




.main-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    position: relative;
    z-index: $z-main;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}