@use '../mixins/comicFont' as *;
@use '../utilities/z-indexes.scss' as *;
@use '../mixins/sawToothBorder' as *;




.main-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    background: #F9F9F9;
    position: relative;
    z-index: $z-main;
    min-height: 600px;
    width: 100%;
    margin: 50px 0;
    text-align: center;

    .header-border-wrapper {
        width: 100%;
        height: 100px;
        transform: translateY(-100px);
    }

    .header-double-cta {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        margin-top: -15rem;

        // ampersand
        .header-cta-amp { 
            @include comic-header-font;
            color: #FFF;
            font-size: 10rem;
            display: flex;
            align-items: center;
            position: relative;
            z-index: $z-main - 1;
            margin: 1rem;
        }

        .header-cta-box {
            background: #FFF;
            z-index: $z-main + 1;
            color: #444;
            width: 40%;
            margin: 10px;
            border-radius: 10px;
            overflow: hidden;
            @include comic-box-shadow;
            //box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            .cta-title {
                background: #D2E8BA;
                color: #444;
                letter-spacing: -1px;
                font-family: 'Inter', sans-serif;
                font-size: 3rem;
                font-weight: 900;
                padding: 1rem;
                padding-bottom: 0.5rem;
                width: 100%;
                background-position: bottom left;
                //box-shadow: 0 10px 10px -3px rgba(0,0,0,0.6);
            }

            .cta-divider {
                @include saw-tooth-border(#D2E8BA);
                height: 12px;
                margin-bottom: 0.5rem;
            }

            .cta-body {
                min-height: 10rem;
                padding: 0.5rem 1rem 1rem;

                .cta-hr {
                    margin: 1rem auto;
                    padding: 0;
                    border: none;
                    border-bottom: solid 2px #D3DDC8;
                    width: 90%;
                }

                & p {
                    text-align: left;
                }

                .cta-body-cards {
                    display: flex;
                    width: 100%;
                    align-items: stretch;
                    justify-content: space-around;
                    margin: 1rem 0;

                    & > div {
                        font-weight: 700;
                        color: #666;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background: #e5e5e5;
                        width: 30%;
                        padding: 0.5rem;
                        border-radius: 5px;
                        aspect-ratio: 1/1;
                    }


                    
                }
            }
        }
    }
}