@use '../mixins/comicFont' as *;
@use '../utilities/vars' as *;


.decoration__contact-stripes {
    width: 100%;
    height: 0.5rem;
    background: #FFF;
    background-image: repeating-linear-gradient(-45deg, white 0 20px, rgb(91, 146, 228) 20px 40px, white 40px 60px, rgb(233, 112, 108) 60px 80px);
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
}

.required {
    color: rgb(151, 15, 15);
    font-size: 0.9rem;
}

form {
    width: 100%;
    height: 100%;
    color: #444;

    & .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        & small {
            background: rgb(151, 15, 15);
            color: #FFF;
            margin-top: -9px;
            border-radius: 0 0 5px 5px;
            padding: 5px;
            font-size: 0.8rem;
        }
        
        & small:empty {
            display: none;
        }
    }

    & input[type=text], input[type=email], input[type=url], select, textarea {
        background: #f9f9f9;
        flex-grow: 1;
        color: #444;
        padding: 5px 0 5px 5px;
        border-radius: 5px;
        border: solid 1px #d1d1d1;
        margin: 5px 0;
    }

    .prefix {
        background: #eee;
        padding: 5px;
        margin: 5px 0;
        border: solid 1px #d1d1d1;
        border-radius: 5px 0 0 5px;
        border-right: none;
    }

    input:focus, input:focus-within {
        border-color: green;
    }

    .prefix ~ input {
        border-radius: 0 5px 5px 0;
    }

    input.invalid {
        border-color: #900;
    }
    
    input:focus:invalid {
        outline: none;
    }
}

.contact-thank-you {
    position: absolute;
    width: 100%;
    height: calc(100% - 1rem);
    background: #FFF;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    display: none;
    margin-top: 0.5rem;
}

.contact-results-wrapper {
    margin: 2rem 0;
}

.contact-results-text-bg {
    background: #dcf0f4;
    width: 100%;
    padding: 2px;
    margin: 2px;
}

.anim-rotating {
    animation: rotate 1s linear infinite;
}

.show-thank-you {
    display: flex;
    animation: fade-in 400ms linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (min-width: $breakpoint) {
    .form-space {
        padding-left: 1rem;
    }
}

@media screen and (max-width: $breakpoint) {
    .form-space {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}