@use '../mixins/comicFont' as *;
@use '../utilities/z-indexes' as *;


#section__design {
    padding: 1rem;
    margin-top: 15rem;
    position: relative;

    & h2 {
        @include comic-header-font-highlighted();
        text-align: center;
        font-size: 5.5rem;

        & > span {
            font-size: 7rem;
        }
    }
}



#section__development {
    padding: 1rem;
    position: relative;
    margin-top: 15rem;

    h2 {
        @include comic-header-font-highlighted();
        text-align: center;
        font-size: 6rem;

        & > span {
            font-size: 6.5rem;
        }
    }
}