@use '../mixins/comicFont' as *;
@use '../mixins/sawToothBorder' as *;

#section__pricing {
    text-align: left;
    width: 100%;
    position: relative;
    padding: 5rem 1rem;
    color: #FFF;
    
    height: 1000px;

}