@use '../mixins/comicFont' as *;
@use '../mixins/sawToothBorder' as *;

#section__pricing {
    text-align: left;
    margin: 5rem 0;
    width: 100%;
    position: relative;

    & h2 {
        @include comic-header-font-highlighted;
        font-size: 6rem;
        //text-align: left;

        & span {
            font-size: 6.5rem;
        }
    }

    & .tagline {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #444;
        font-size: 2.5rem;
        margin-top: -1rem;
        text-shadow: 0 -1px 3px rgba(255,255,255,0.3);
    }

    & h3 {
        font-size: 3rem;
    }

    & ul {
        list-style-position: inside;
        list-style: url('../images/checkmark.svg');
        margin-left: 1rem;

        & li {
            line-height: 2rem;
        }
    }

}