@use '../mixins/comicFont' as *;
@use '../utilities/z-indexes' as *;

.cloud-transition-top {
    width: 100%;
    margin-bottom: -3px;
}

.cloud-transition-bottom {
    width: 100%;
}

#section__work {
    width: 100%;
    max-width: none;
    padding: 5rem 1rem;
    position: relative;
    z-index: $z-main;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 6rem;
        line-height: 8rem;
        color: #444;
    }

    .portfolio_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 1rem;
        margin: 2rem 0;

        .portfolio_item {
            background: #FFF;
            padding: 1rem;
            border: solid 1px #FFF;
            border-radius: 1rem;

            .img_block {
                margin: 0.5rem;
                width: 5rem;
                height: 5rem;
                background: #CCC;
                border-radius: 1rem;
            }
        }
    }

}

