$z-main: 100;




.gap {
    height: 500px;
}

.anchor {
    position: absolute;
    top: -7rem;
}





.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-space-between {
    justify-content: space-between;
}





.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}



/* margin classes */

@for $i from 0 through 10 {
    .m-#{$i} {
        margin: $i * 1rem;
    }
}

@for $i from 0 through 10 {
    .mt-#{$i} {
        margin-top: $i * 1rem;
    }
}

@for $i from 0 through 10 {
    .mb-#{$i} {
        margin-bottom: $i * 1rem;
    }
}



/* padding classes */

.p-05 {
    padding: 0.5rem;
}

@for $i from 0 through 5 {
    .p-#{$i} {
        padding: $i * 1rem;
    }
}

.pt-05 {
    padding-top: 0.5rem;
}

@for $i from 0 through 5 {
    .pt-#{$i} {
        padding-top: $i * 1rem;
    }
}

.pb-05 {
    padding-bottom: 0.5rem;
}

@for $i from 0 through 5 {
    .pb-#{$i} {
        padding-bottom: $i * 1rem;
    }
}