@use '../utilities/vars' as *;

.tagline {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #444;
    font-size: 2vw;
    margin-top: -1rem;
    text-shadow: 0 -1px 3px rgba(255,255,255,0.3);
}





.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-top {
    align-items: flex-start;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-half {
    width: 50%;
}

.flex-space-between {
    justify-content: space-between;
}





.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-green {
    color: $dark-green;
}



/* margin classes */

@for $i from 0 through 10 {
    .m-#{$i} {
        margin: $i * 1rem;
    }
    .mn-#{$i} {
        margin: $i * -1rem;
    }
}

@for $i from 0 through 10 {
    .mt-#{$i} {
        margin-top: $i * 1rem;
    }
    .mtn-#{$i} {
        margin-top: $i * -1rem;
    }
}

@for $i from 0 through 10 {
    .mb-#{$i} {
        margin-bottom: $i * 1rem;
    }
    .mbn-#{$i} {
        margin-bottom: $i * -1rem;
    }
}



/* padding classes */

@for $i from 0 through 10 {
    .p-#{$i}5 {
        padding: ($i * 1rem) + 0.5rem;
    }

    .p-#{$i} {
        padding: $i * 1rem;
    }
}

.pt-05 {
    padding-top: 0.5rem;
}

@for $i from 0 through 10 {
    .pt-#{$i}5 {
        padding-top: ($i * 1rem) + 0.5rem;
    }

    .pt-#{$i} {
        padding-top: $i * 1rem;
    }
}

@for $i from 0 through 10 {
    .pb-#{$i}5 {
        padding-bottom: ($i * 1rem) + 0.5rem;;
    }

    .pb-#{$i} {
        padding-bottom: $i * 1rem;
    }
}












@media screen and (max-width: $breakpoint) {
    .flex {
        flex-direction: column;
    }

    .flex-sm-row {
        flex-direction: row;
    }

    .sm-flex-reverse {
        flex-direction: column-reverse;
    }

    .flex-half {
        width: 100%;
    }

    .mobile-square {
        aspect-ratio: 1/1;
    }
    
}


.gap {
    height: 500px;
}

hr {
    border-bottom: solid 2px hsl(87, 93.8%, 12.5%);
    width: 80%;
}

.full-width {
    width: 100%;
}

.full-size-wrap {
    width: 100%; 
    max-width: 1000px;
}

.container-relative {
    position: relative;
}

.flat-green-bg {
    background: $flat-green;
}

.light-green-bg {
    background: $light-green;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}