@use '../mixins/comicFont' as *;

.box {
    background: #FFF;
    color: #444;
    width: 100%;
    border-radius: 10px;
    @include comic-box-shadow;
    text-align: left;
    overflow: hidden;
}

.box-title {
    background: #D2E8BA;
    color: #444;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.box-divider {
    background: #D2E8BA;
    height: 20px;
    display:flex;
    align-items: flex-end;
}