@use '../mixins/comicFont' as *;
@use '../utilities/vars' as *;

.box-wrapper {
    position: relative;
    z-index: $z-box;
    width: 100%;
    max-width: 1440px;
    padding: 0 4px;
    border-radius: 10px;
}

.box-blur {
    /*backdrop-filter: blur(2px);*/
}

.box-border {
    width: 100%;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(255, 255, 255, 0.6) 0px 0px 15px 0px inset;
}

.box {
    background: #FFF;
    color: #444;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.box-comic {
    @include comic-box-shadow();
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.box-comic-no-shadow {
    @include comic-box-no-shadow();
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.box-title {
    background: $flat-green;
    color: #444;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: -1px;
    width: 100%;
}

.box-divider {
    background: $flat-green;
    color: $flat-green;
    height: 20px;
    display:flex;
    align-items: flex-start;
}

.box-divider-bottom {
    background: $light-green;
    color: $flat-green;
    height: 20px;
    display:flex;
    align-items: flex-end;
    margin-top:-2px;
}

.box-flat-shadow {
    border-radius: 5px;
    overflow:hidden;
    background: #FFF;
    border: solid 1px #dfdfdf;
    box-shadow: 0 0 40px rgba(0,0,20,0.1);
}